<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @music.image %>
      </div>
        <div class="col-md-7 col-md-offset-1">

          <div class="table-responsive">
            <table class="table">

              <tbody>
                <tr>
                  <td><strong>Album Title:</strong></td>
                  <td><%= @music.title %></td>
                </tr>
                <tr>
                  <td><strong>Album Artist:</strong></td>
                  <td><%= @music.artist %></td>
                </tr>
                <tr>
                  <td><strong>Genre:</strong></td>
                  <td><%= @music.genre %></td>
                </tr>
                <tr>
                  <td><strong>Rating:</strong></td>
                  <td><%= @music.rating %></td>
                </tr>
                <tr>
                  <td><strong>Review:</strong></td>
                  <td><%= sanitize @music.review %></td>
                </tr>
              </tbody>
            </div>
      </div>
    </div>
  </div>
